<h1>Welcome <%= @game.player1.name %> and <%= @game.player2.name %></h1>
<h2><%= @game.current_player.name %>, it is your turn!</h2>
<%= @game.player2.name %>: <%= @game.player2.points %> Hit points

<div>
  <form action="/attack">
  <button type="submit" value="ATTACK!!!">ATTACK!!!</button>
  </form>
</div>

